*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: 'Signika Negative', 'Arial Narrow', Arial, sans-serif;
}

#main-section{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.wrapper{
  background-color: #e0e0e0;
  padding: 1.3rem 2rem;
  font-size: 1.5rem;
  overflow: hidden;
  text-align: center;
}

.color-text{
  font-weight: bold;
}
#color_text{
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  font-size: inherit;
  width: 100px;
  outline:none;
  cursor: text;
}

#color_input{
  height: 2.8rem;
  margin: 0.5rem auto;
  border:none;
  background-color: #e0e0e0;
  cursor:pointer;
  vertical-align: middle;
}

.copy-btn, .random-btn{
  float:left;
  height: 3rem;
  width: 42%;
  cursor: pointer;
  text-align:center;
  border:none;
  border-radius: 0px;
  background: #e0e0e0;
  box-shadow:  8px 8px 16px #bebebe,
              -8px -8px 16px #ffffff;
  margin: .5rem .5rem;
  padding: auto;
  overflow: hidden;
  font-size: 1rem;
}
.copy-btn:hover, .random-btn:hover{
  background-color: #a0f282;
}
.copy-btn:active, .random-btn:active{
  background-color: #66c544;
}
.material-icons{
  width:100%;
  vertical-align: middle;
}
